.margin-top-10 {margin-top: 10px}
.padding-global {padding: 10px;}
.vertical-middle {vertical-align: middle !important}
.bold-text {font-weight: bold;}
.align-center-mg {padding-left: 50px !important;}